<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hackathon.data.SubMissionMapper">
    <select id="selectSubMissionlistByGroupId" resultType="SubmissionResultMap">
        select * from submission where group_id=#{groupId}
    </select>

    <insert id="insertSubMission" parameterType="com.example.hackathon.po.SubMission">
        insert into submission (id,title,detail,group_id,start_time,end_time)
        values (#{id},#{name},#{discription},#{groupId},#{starttime},#{endtime})
    </insert>

    <select id="selectSubMissionById" resultType="SubmissionResultMap">
        select * from submission where id=#{id}
    </select>
    <update id="end">
        update submission set status=1 where id=#{id}
    </update>

    <resultMap id="SubmissionResultMap" type="com.example.hackathon.po.SubMission">
        <id column="id" property="id"></id>
        <result column="title" property="name"></result>
        <result column="detail" property="description"></result>
        <result column="group_id" property="groupId"></result>
        <result column="start_time" property="starttime"></result>
        <result column="end_time" property="endtime"></result>
    </resultMap>


</mapper>