<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hackathon.data.WorkGroupMapper">
    <insert id="createNewWorkGroup" useGeneratedKeys="true" keyProperty="id">
        insert into workgroup(workgroupname,lead_id,main_mission,status,start_time)
        VALUES(#{groupname},#{leader_id},#{main_mission},0,CURRENT_TIMESTAMP)
    </insert>

    <update id="updateWorkGroup">
        update workgroup set workgroupname=#{groupname},main_mission=#{main_mission},status=#{status} WHERE id=#{groupId};
    </update>

    <select id="getWorkGroupByGroupId" resultType="WorkGroupResultMap">
        select * from workgroup as wg where wg.id=#{groudId}
    </select>

    <update id="updateStatus">
        update workgroup set status=1 where id=#{groupId};
    </update>


    <resultMap id="WorkGroupResultMap" type="com.example.hackathon.po.WorkGroup">
        <id column="id" property="groupId"></id>
        <result column="leader_id" property="leaderId"></result>
        <result column="workgroupname" property="groupname"></result>
        <result column="main_mission" property="mainMission"></result>
    </resultMap>

</mapper>