<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hackathon.data.MemberMissionMapper">
    <select id="selectMemberMissionBySubIdAndUserId" resultType="MemberMissionResultMao">
        select * from membermission where owner_id=#{userId} and submission_id=#{subMissionId}
    </select>
    <insert id="insertMemberMission" parameterType="com.example.hackathon.po.MemberMission">
        insert into membermission (id,title,detail,start_time,end_time,status,submission_id)
        values (#{id},#{name},#{description},#{starttime},#{endtime},#{status},#{subMissionId})
    </insert>

    <select id="selectMemberMissionById" resultType="MemberMissionResultMao">
        select * from membermission where id=#{id}
    </select>

    <select id="selectMemberMissionListBySubId" resultType="MemberMissionResultMap">
        select * from membermission where submission_id=#{subMissionId}
    </select>

    <update id="end">
        update submission set status=1 where id=#{subMissionId}
    </update>
    <update id="distribute">
        update submission set owner_id=#{userId} where id=#{memberMissionId}
    </update>


    <resultMap id="MemberMissionResultMap" type="com.example.hackathon.po.MemberMission">
        <id column="id" property="id"></id>
        <result column="title" property="name"></result>
        <result column="detail" property="description"></result>
        <result column="start_time" property="starttime"></result>
        <result column="end_time" property="endtime"></result>
        <result column="submission_id" property="subMissionId"></result>
        <result column="status" property="status"></result>
    </resultMap>
</mapper>